<header>
	<h1>Atlaas</h1>
	<h2>Atlaas Through Language As A Service</h2>
	<p>
		This is a technical demo.
	</p>
</header>

<div id="atlaas-app">
	<z-chat id="chat" uri="ws://localhost:3000/exchange/skycrate-atlaas"></z-chat>
	<canvas id="map"></canvas>
</div>
<script type="text/javascript" src="js/atlaas.js"></script>
