<h1>{ bot.name }</h1>
<h2>@ ${ session_id }</h2>

<a href="/exchange/${ bot.id }">&lt; ${ bot.name } Details</a>

<p>
	TODO: Embed a chatbot user interface here...
	keep'er simple. Also want to be able to customize things like a sandbox...
</p>

<a href="/exchange/<%= bot.id %>">&lt; Back</a>
