<header>
	<h1>SkyCrate Ltd.</h1>
	<h2>Glasgow's House for Open Software &amp; Technology</h2>
</header>

<menu>
	<li><a href="/atlaas">Atlaas | Modern Map Utility</a></li>
	<li><a href="/exchange">Bot Exchange Network (B.E.N)</a></li>
</menu>
