<tr>
	<td class="property"><p>${ index }</p></td>
	<td class="description"><p>${ item.map(response => '"' + response.replace(/\[/gi, '<b>[').replace(/\]/gi, ']</b>') + '"').join('</p><p>') }</p></td>
</tr>
