<h3>${ item.title }</h3>
<p>
	${ item.description }
</p>
${ render("schema/properties-list", item.properties) }
${ iterate(filter(item.properties, x => x.type === "object"), "schema/object-detail") }
