<table>
	<thead>
		<tr>
			<th class="property">Property</th>
			<th class="type">Type</th>
			<th class="description" colspan="3">Description</th>
		</tr>
	</thead>
	<tbody>
		${ iterate(item, "schema/property-item") }
	</tbody>
</table>
