* {
	outline:none;
}

body {
	color:#4e4e4e;
	background-color:rgb(249, 251, 252);
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	font-size:11pt;
	margin:20pt auto;
	padding:0pt 10pt;
	max-width:720px;
}

hr {
	height:0;
	border:none;
	border-top:1px solid;
	margin:10pt 0;
}

h1 {
	border-top:3px solid;
	padding-top:12pt;
	color:#111;
	font-size:22pt;
}

h2, h3, h4, h5, h6 {
	color:#272727;
	margin:1em 0;
}

h2 {
	font-size:18pt;
}

h3 {
	font-size:15pt;
}

h4 {
	font-size:13pt;
}

h5 {
	font-size:12pt;
}

h6 {
	font-size:11pt;
}

header h1 {
	position:relative;
	font-size:26pt;
}

header.index h2 {
	margin-top:260px;
	font-size:15pt;
	font-weight:normal;
}

a {
	color:deeppink;
	text-decoration:none;;
}

a:hover {
	text-decoration:underline;
}

em {
	font-weight:bold;
}

p {
	color:#666;
	line-height:1.75em;
	margin:2em 0;
}

input[type="text"] {
	border:none;
	border-bottom:3px solid #aeaeae;
	font-size:13pt;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	padding:10pt 12pt 8pt 8pt;
}

*[contenteditable="true"] {
	caret-color:deeppink;
}

button {
	color:white;
	padding:7pt 10pt;
	font-size:13pt;
	background-color:#61dde6;
	border:none;
	cursor:pointer;
}

button:hover {
	background-color:deeppink;
}

menu {
	list-style:none;
	padding:0;
}

menu > li {
	padding:10pt 10pt 10pt 15pt;
}

menu > li:nth-child(odd), tbody > tr:nth-child(odd) {
	background-color:rgba(226, 234, 241, 0.27);
}

code {
	background-color:rgba(226, 234, 241, 0.72);
	padding:3pt 5pt;
}

pre > em {
	display:inline-block;
	padding:5pt 0;
	font-size:1.25em;;
}

pre > code .hljs-comment {
	color: #999999;
}

.action,
pre > code .hljs-attr,
pre > code .hljs-const {
	color: #f2777a;
}

.user,
pre > code .hljs-number,
pre > code .hljs-built_in,
pre > code .hljs-literal,
pre > code .hljs-params {
	color: #f99157;
}

.bot,
pre > code .hljs-string,
pre > code .hljs-value,
pre > code .hljs-inheritance {
	color: #99cc99;
}

.time,
pre > code .hljs-function,
pre > code .hljs-title {
	color:#6699cc !important;
}

pre > code .hljs-keyword {
	color: #cc99cc;
}

pre > code.hljs {
	display: block;
	background: #2d2d2d;
	color: #cccccc;
	line-height:1.5em;
	padding:10pt 10pt 15pt 20pt;
	font-size:9pt;
}

table {
	border-collapse:collapse;
	margin:30pt 0;
	width:100%;
	font-size:10pt;
}

th, td {
	padding:7pt 10pt;
}

td:nth-child(even) {
	background-color:rgba(255, 255, 255, 0.36);
}

th.property,
td.property {
	border-right:1px solid #aeaeae;
	text-align:right;
	font-weight:bold;
}

th.type,
td.type {
	text-align:center;
}

th.description,
td.description {
	border-left:1px solid #aeaeae;
	text-align:left;
	padding-right:5pt;
}

td.property {
	font-family:monospace;
}

td.description {
	line-height:1.75em;
}

tbody td {
	border-top:1px solid #aeaeae;
	vertical-align:top;
}

z-scene {
	/* NOTHING IS ALLOWED TO BE ANYTHING ELSE BUT ABSOLUTE... */
	position:absolute;
	top:20px;
	left:15px;
	width:200px;
	height:200px;
	perspective:800px;
	perspective-origin:50% 50%;
}

z-cube {
	position:absolute;
	transform-style:preserve-3d;
	width:200px;
	height:200px;
	transform:rotateY(-40deg) rotateX(24deg);
}

z-face {
	border:2px solid;
	border-top:5px solid;
	background-color:white;
	position:absolute;
	width:200px;
	height:200px;

	overflow:hidden;
}

z-face[top] {
	transform:translateY(-100px) rotateX(-90deg);
}

z-face[left] {
	transform:translateX(-100px) rotateY(270deg);
}

z-face[front] {
	transform:translateZ(100px);
	text-align:right;
}

z-face[right] {
	transform:translateX(100px) rotateY(-270deg);
	text-align:right;
}

z-face[front]::after,
z-face[right]::after {
	position:relative;
	top:0.125em;
	content:"sky crate";
	font-size:92px;
	font-weight:bold;
	line-height:0.9em;
}

z-face[front]::after {
	right:-44px;
}

z-face[right]::after {
	left:-156px;
}

z-face[back] {
	transform:translateZ(-100px) rotateY(180deg);
}

z-face[bottom] {
	transform:translateY(100px) rotateX(90deg);
}

#chat_window {
	position:relative;
	display:block;
	background:#2d2d2d;
	color:#cccccc;
	line-height:1.75em;
	padding:7pt 0 10pt;
	font-family:monospace;
	min-height:40vh;
	max-height:50vh;
	list-style:none;

	overflow-x:hidden;
	overflow-y:auto;
}

#chat_window li {
	position: relative;
	display:block;
	margin:0;
	padding:7pt 0;
}

#chat_window li::after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

#chat_window li.bot {
	background-color:rgba(255, 255, 255, 0.13);
}

#chat_window label {
	float:left;
	color:#ccc;
	font-weight:bold;
	padding-right:7pt;
	width:5.25em;
	text-align:right;
}

#chat_window span {
	float:left;
	width:calc(100% - 77pt - 5.25em);
}

#chat_controls {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:stretch;
	justify-content:flex-end;
	width:100%;
}

#chat_controls input {
	flex-grow:2;
	margin-right:10pt;
}

#chat_window .time {
	position: absolute;
	float:none;
	right:10pt;
	top:0.6125em;
	width:auto;
}

#atlaas-app {
	position:relative;
	background-color:#61dde6;
	width:100%;
	height:75vh;
	overflow:hidden;
}

#atlaas-app canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
